@model Bilet_Rezervasyon.Models.Personel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Personel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TcNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TcNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdSoyad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdSoyad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dogum_Tarihi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dogum_Tarihi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SigortaNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SigortaNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gise)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gise.GiseId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.PersonelId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
