@model Bilet_Rezervasyon.Models.Rezervasyon

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Rezervasyon</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bicim)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bicim)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sayisi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sayisi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tarih)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tarih)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Musteri)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Musteri.MusteriId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bilet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bilet.BiletId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.RezervasyonId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
