@model IEnumerable<Bilet_Rezervasyon.Models.Rezervasyon>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Bicim)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sayisi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tarih)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Musteri)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bilet)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Bicim)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sayisi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tarih)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Musteri.MusteriId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bilet.BiletId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.RezervasyonId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.RezervasyonId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.RezervasyonId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
