@model Bilet_Rezervasyon.Models.Sefer

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Sefer</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SeferAdi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SeferAdi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SeferKodu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SeferKodu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gidis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gidis)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Donus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Donus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ucreti)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ucreti)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Saati)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Saati)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Acenta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Acenta.AcentaId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.SeferId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
