@model IEnumerable<Bilet_Rezervasyon.Models.Sefer>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Yeni Kayıt</a>
</p>
<table class="table table-striped table-hover">
    <thead>
        <tr class="table-primary">
            <th>
                @Html.DisplayNameFor(model => model.SeferAdi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SeferKodu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gidis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Donus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ucreti)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Saati)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Acenta)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SeferAdi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SeferKodu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gidis)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Donus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ucreti)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Saati)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Acenta.AcentaId)
            </td>
            <td>
                <a asp-action="Edit" class="btn btn-success" asp-route-id="@item.SeferId">Düzelt</a> |
                <a asp-action="Details" class="btn btn-warning" asp-route-id="@item.SeferId">Detay</a> |
                <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.SeferId">Silme</a>
            </td>
        </tr>
}
    </tbody>
</table>
